@page
@model SaucyCapstone.Pages.Instructor.Students.StudentCertificatesModel

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 localize-content>Certificates For @(Model.Student.FirstName + " " + Model.Student.LastName)</h2>
		</div>
		<div class="col-6 text-end">
			<a localize-content class="btn btn-primary" asp-page="/Instructor/Students/Index">Back to Students</a>
		</div>
	</div>
	<hr />

	<table id="dataTable" class="table table-bordered table-striped " style="width:100%">
		<thead>
			<tr>
				<th localize-content>
					Course
				</th>
				<th localize-content>
					Level
				</th>
				<th localize-content>
					Download
				</th>
			</tr>
		</thead>
		<tbody>	
			@for (int i = 1; i <= Model.Student.ITLevel; i++)
			{
				<tr>
					<td>
						IT
					</td>
					<td>
						@(i)
					</td>
					<td>
						<form method="post" asp-page-handler="GeneratePDF">
							<input asp-for="@Model.CertificationVM.StudentId" value="@Model.Student.StudentId" hidden>
							<input asp-for="@Model.CertificationVM.Subject" value="IT @(i)!" hidden>
							<input asp-for="@Model.CertificationVM.StudentName" value="@(Model.Student.FirstName + " " + Model.Student.LastName)" hidden>
							<input localize-content type="Submit" class="btn btn-success" value="GeneratePDF" />
						</form>
					</td>
				</tr>
			}
			@for (int i = 1; i <= Model.Student.EnglishLevel; i++)
			{
				<tr>
					<td>
						English
					</td>
					<td>
						@(i)
					</td>
					<td>
						<form method="post" asp-page-handler="GeneratePDF">
							<input asp-for="@Model.CertificationVM.StudentId" value="@Model.Student.StudentId" hidden>
							<input asp-for="@Model.CertificationVM.Subject" value="English @(i)!" hidden>
							<input asp-for="@Model.CertificationVM.StudentName" value="@(Model.Student.FirstName + " " + Model.Student.LastName)" hidden>
							<input localize-content type="Submit" class="btn btn-success" value="GeneratePDF" />
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>


@section Scripts{
	<script>
		$(document).ready(function() {
			$('#dataTable').dataTable();
		});
	</script>
}