@page
@using SaucyCapstone.Static
@model SaucyCapstone.Pages.Instructor.Students.StudentNotesModel

@{
    string collapseId = "";
    int sort = 0;
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 localize-content>Notes For @(Model.Student.FirstName + " " + Model.Student.LastName)</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-route-studentId="@Model.Student.StudentId" asp-page="./Add/addNotes" class="btn btn-success"><i class="bi bi-plus-circle">&nbsp;</i><localize>Add Note</localize></a>
            <a localize-content class="btn btn-primary" asp-page="/Instructor/Students/Index">Back to Students</a>
        </div>
    </div>
    <hr />

    <table id="dataTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th localize-content>
                    Topic
                </th>
                <th localize-content>
                    Content
                </th>
                <th localize-content>
                    Importance Level
                </th>
                <th localize-content>
                    Creator
                </th>
                <th localize-content>
                    Access Type
                </th>
                <th localize-content>
                    Edited Date
                </th>
                <th localize-content>
                    Visible by
                </th>
                <th localize-content>Options</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Notes != null)
            {
                @foreach (var obj in Model.Notes)
                {
                    collapseId = "collapse" + obj.NoteId.ToString();
                    sort++;
                    <tr>
                        <td>
                            @obj.Topic
                        </td>
                        <td>
                            <textarea asp-for="@obj.Content" class="form-control" readonly></textarea>                      
                        </td>
                        <td>
                            @((int)obj.Importance + 1)-@obj.Importance                    
                        </td>
                        <td>
                            @obj.FacultyMember?.FirstName @obj.FacultyMember?.LastName
                        </td>
                        <td>
                            @obj.AccessType.Accesss
                        </td>
                        <td>
                            @obj.EditedDate
                        </td>
                        @if (@obj.isPrivate == true)
                        {
                            <td>
                                Only You
                            </td>
                        }
                        @if (@obj.isPrivate == false)
                        {
                            <td>
                                Everyone
                            </td>
                        }                      
                        <td>
                            @if (@obj.FacultyMember.Id == Model.userId)
                            {
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary mx-2" asp-page="./Edit/editNotes" asp-route-noteId="@obj.NoteId"> <i class="bi bi-pencil-square"></i>&nbsp;Edit</a>
                                <a class="btn btn-danger mx-2" asp-page="./Delete/deleteNotes" asp-route-noteId="@obj.NoteId"> <i class="bi bi-trash-fill"></i>&nbsp;Delete</a>
                            </div>
                            }
                        </td>                                          
                    </tr>   
                    
                }
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#dataTable').dataTable();
        });
    </script>
}