@page
@model SaucyCapstone.Pages.Instructor.Students.StudentDocumentsModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Documents For @(Model.Student.FirstName + " " + Model.Student.LastName)</h2>
        </div>
    </div>
    <br />
    <div class="float-end">
        <a asp-route-id="@Model.Student.StudentId" asp-page="./Add/addDocuments" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add Document</a>
    </div>

    <hr />

    <table id="dataTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Document Type
                </th>
                <th>
                    Upload Date
                </th>
                <th>
                    Manage
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Documents != null)
            {
                @foreach (var obj in Model.Documents)
                {
                    <tr>
                        <td width="20%">
                            @obj.Name
                        </td>
                        <td width="30%">
                            @obj.Description
                        </td>
                        <td width="10%">
                            @obj.AccessType.Accesss
                        </td>
                        <td width="10%">
                            @obj.UploadDate
                        </td>
                        <td width="10%">
                            <div class="btn-group" role="group">
                                <form>
                                    <a class="btn btn-success mx-2 al" download="@(obj.Name + obj.Extension)" href="@(obj.Path)"><i class="bi bi-file-earmark-arrow-down-fill"></i></a>
                                </form>
                                <a class="btn btn-danger mx-2" asp-page="./Delete/deleteDocuments" asp-route-id="@obj.StudentDocId">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-page="/Instructor/Students/Index">Go Back</a>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#dataTable').dataTable();
        });
    </script>
}