@page
@model SaucyCapstone.Pages.Instructor.Students.StudentNotesModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Notes For @(Model.Student.FirstName + " " + Model.Student.LastName)</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-route-studentId="@Model.Student.StudentId" asp-page="./Add/addNotes" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add Note</a>
            <a class="btn btn-primary" asp-page="/Instructor/Students/Index">Back to Students</a>
        </div>
    </div>
    <hr />

    <table id="dataTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Topic
                </th>
                <th>
                    Content
                </th>
                <th>
                    Creator
                </th>
                <th>
                    Access Type
                </th>
                <th>
                    Created Date
                </th>
                <th>
                    Edited Date
                </th>
                <th>
                    Visible by
                </th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Notes != null)
            {
                @foreach (var obj in Model.Notes)
                {
                    <tr>
                        <td width="10">
                            @obj.Topic
                        </td>
                        <td width="20%">
                            @obj.Content
                        </td>
                        <td width="10%">
                            @obj.FacultyMember?.FirstName @obj.FacultyMember?.LastName
                        </td>
                        <td width="10%">
                            @obj.NoteType.Accesss
                        </td>
                        <td width="10%">
                            @obj.CreatedDate
                        </td>
                        <td width="10%">
                            @obj.EditedDate
                        </td>
                        @if (@obj.isPrivate == true)
                        {
                            <td width="10%">
                                Only You
                            </td>
                        }
                        @if (@obj.isPrivate == false)
                        {
                            <td width="10%">
                                Everyone
                            </td>
                        }

                        <td width="10%">
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary mx-2" asp-page="./Edit/editNotes" asp-route-noteId="@obj.NoteId"> <i class="bi bi-pencil-square"></i>&nbsp;Edit</a>
                                <a class="btn btn-danger mx-2" asp-page="./Delete/deleteNotes" asp-route-noteId="@obj.NoteId"> <i class="bi bi-trash-fill"></i>&nbsp;Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#dataTable').dataTable();
        });
    </script>
}