@page
@model SaucyCapstone.Pages.Students.StudentNotesModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Student Notes For @(Model.Student.FirstName + " " + Model.Student.LastName)</h2>
        </div>
    </div>
    <br />
    <div class="float-end">
        <a asp-route-studentId="@Model.Student.StudentId" asp-page="./Add/addNotes" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add Note</a>
    </div>

    <br />
    <br />

    <table id="dataTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Topic
                </th>
                <th>
                    Content
                </th>
                <th>
                    Creator
                </th>
                <th>
                    Created Date
                </th>
                <th>
                    Edited Date
                </th>
                <th>
                    Visible by 
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Notes != null)
            {
                @foreach (var obj in Model.Notes)
                {
                    <tr>
                        <td width="10">
                            @obj.Topic
                        </td>
                        <td width="30%">
                            @obj.Content
                        </td>
                        <td width="10%">
                            @obj.FacultyMember?.FirstName @obj.FacultyMember?.LastName
                        </td>
                        <td width="10%">
                            @obj.CreatedDate
                        </td>
                        <td width="10%">
                            @obj.EditedDate
                        </td>
                        @if(@obj.isPrivate == true)
                        {
                           <td width="10%">
                               Only You
                           </td>  
                        }
                        @if(@obj.isPrivate == false)
                        {
                           <td width="10%">
                               Everyone
                           </td>  
                        }
                        
                        <td width="10%">
                            <div class="btn-group" role="group">
                                <a class="btn btn-success mx-2" asp-page="./Edit/editNotes" asp-route-noteId="@obj.NoteId">Edit</a>
                                <a class="btn btn-danger mx-2" asp-page="./Delete/deleteNotes" asp-route-noteId="@obj.NoteId">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-page="/Students/Index">Go Back</a>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#dataTable').dataTable();
        });
    </script>
}