@page
@model SaucyCapstone.Pages.Instructor.Students.Delete.deleteNotesModel
@{
}

<h1>Delete Note</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Topic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Topic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Content)
        </dt>
        <dd class="col-sm-10">
            <textarea asp-for="@Model.Note.Content" class="form-control" readonly></textarea>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.AccessType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.AccessType.Accesss)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Importance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Importance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.EditedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.EditedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.FacultyMember)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.FacultyMember.FirstName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Note.NoteId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-primary" asp-route-id="@Model.Note.Student.StudentId" asp-page="/Instructor/Students/StudentNotes" >Cancel</a>   
    </form>
                     
</div>
