@page
@model SaucyCapstone.Pages.Admin.Ratings.IndexModel

@{
    ViewData["Title"] = "Index";
}
@*<style>
    .slidecontainer {
        width: 100%;
    }

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 7px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: opacity .15s ease-in-out;
        transition: opacity .15s ease-in-out;
    }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #00bc8c;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #04AA6D;
            cursor: pointer;
        }
</style>*@


<h1>Rating Dashboard</h1>


<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].FirstName)
                </th>
                @foreach (var item in Model.Criterion)
                {
                    <th>
                        @Html.DisplayFor(modelItem => item.Description)
                    </th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Student)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => student.FirstName) @Html.DisplayFor(modelItem => student.LastName)
                    </td>
                    @foreach (var item in Model.Criterion)
                    {
                        <td>
                            <div class="slidecontainer">
                                <input type="range" min="1" max="5" value="1" class="slider" id="@item.Description" oninput="updateSlider(this)">
                                <p><span id="demo @item.Description">--</span></p>
                            </div>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
@*    <button type="submint" class="btn btn-primary" style="width:150px">Update</button>*@
</form>


@*<script>
function updateSlider(obj) {
    var myDemo = "demo " + obj.id;
    document.getElementById(myDemo).innerHTML = obj.value
    }
</script>*@