@page
@model SaucyCapstone.Pages.Admin.Ratings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Rating Dashboard</h1>

<form method="post" asp-action="OnPostAsync" enctype="multipart/form-data">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].FirstName)
                </th>
                @foreach (var item in Model.Criterion)
                {
                    <th>
                        @Html.DisplayFor(modelItem => item.Description)
                    </th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Student)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => student.FirstName) @Html.DisplayFor(modelItem => student.LastName)
                        <input asp-for="Ratings.Student" hidden/>
                    </td>
                    @foreach (var item in Model.Criterion)
                    {
                        <td>
                            <input asp-for="Ratings.Criterion" hidden />
                            <div class="slidecontainer">
                                <input  asp-for="" type="range" min="1" max="5" value="1" class="slider" id="@item.Description" oninput="updateSlider(this)">
                                <p><span id="demo @item.Description">--</span></p>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
@*    <button type="submint" class="btn btn-primary" style="width:150px">Update</button>*@
</form>
