@page
@model SaucyCapstone.Pages.Admin.Courses.DeleteModel

<form method="post">
    <div class="card">
        <h4 class="card-header">Delete Course</h4>
        <div class="card-body rounded pb-2">
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Term
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.CourseVM.Course.Term.TermName)
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Instructor
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.CourseVM.Course.Instructor.FirstName) @Html.DisplayFor(model => model.CourseVM.Course.Instructor.LastName)
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Subject
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.CourseVM.Course.Subject.SubjectName)
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Course Level
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.CourseVM.Course.CourseLevel)
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    School
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.CourseVM.Course.School.SchoolName)
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row d-flex justify-content-center">
                <div class="col-3">
                    <button type="submit" class="btn btn-danger" style="width:100%">Delete</button>
                </div>
                <div class="col-3">
                    <a asp-page="Index" class="btn btn-primary" style="width:100%">
                        Back to Course Overview
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>