@page
@using Data
@model SaucyCapstone.Pages.Admin.Courses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table id="dataTable" class="table">
    <thead>
        <tr>
            <th>
                Term
            </th>
            <th>
                Instructor
            </th>
            <th>
                Subject
            </th>
            <th>
                School
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CourseVM.CourseList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Term.TermName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructor.FirstName) @Html.DisplayFor(modelItem => item.Instructor.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.School.SchoolName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CourseId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CourseId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CourseId">Delete</a>
                    @*<input type="hidden" asp-for="@item.CourseId" />*@
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#dataTable').dataTable();
        });
    </script>
}