@page
@model SaucyCapstone.Pages.Judge.Applicant.IndexModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 localize-content>Applicant Overview</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Upsert" class="btn btn-success">
                <i class="bi bi-plus-circle">&nbsp;</i><localize>New Application</localize>
            </a>
        </div>
    </div>
    <hr />

    <table id="dataTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th localize-content>
                    Name
                </th>
                <th localize-content>
                    Application Status
                </th>
                <th localize-content>
                    Last Modified Date
                </th>
                <th localize-content>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Students)
            {
                <tr>
                    <td>
                        @obj.FirstName @obj.LastName
                    </td>
                    <td>
                        @obj.AppStatus
                    </td>
                    <td>
                        @obj.LastModifiedDate.ToShortDateString()
                    </td>
                    <td>
                        <div class="btn-group" role="group" style="justify-content:end">
                            <a asp-page="Upsert" asp-route-id="@obj.StudentId"
                           class="btn btn-primary mx-2"><i class="bi bi-pencil-square">&nbsp;</i><localize>Edit</localize></a>
                            @if (obj.AppStatus == Data.Student.ApplicationStatus.Open)
                            {
                                <a asp-page="Archive" asp-route-id="@obj.StudentId"
                           class="btn btn-danger mx-2"><i class="bi bi-trash-fill">&nbsp;</i><localize>Archive</localize></a>
                            }
                            else if (obj.AppStatus == Data.Student.ApplicationStatus.Archived)
                            {
                                <a asp-page="Archive" asp-route-id="@obj.StudentId"
                           class="btn btn-info mx-2"><i class="bi bi-trash-fill">&nbsp;</i><localize>Open</localize></a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#dataTable').dataTable();
        });
    </script>
}