@page
@model SaucyCapstone.Pages.Admin.Terms.IndexModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Term Overview</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Create" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> &nbsp; New Term
            </a>
            <a class="btn btn-warning" >
                <i class="bi bi-box-arrow-in-right"></i> &nbsp; New from Active
            </a>
        </div>
    </div>
    <hr />

    <table id="dataTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    IsActive
                </th>
                <th>
                    Term Name
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Term)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TermName)
                    </td>
                    <td>
                        @item.StartDate.ToShortDateString()
                    </td>
                    <td>
                        @item.EndDate.ToShortDateString()
                    </td>
                    <td>
                        <div class="btn-group" role="group" style="justify-content:end">
                            <a asp-page="Edit" asp-route-id="@item.TermId"
                           class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>&nbsp;Edit</a>
                           <a asp-page="/Admin/Courses/Index" asp-route-id="@item.TermId"
                           class="btn btn-info mx-2"> <i class="bi bi-columns"></i>&nbsp;Courses</a>
                            <a asp-page="Delete" asp-route-id="@item.TermId"
                           class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i>&nbsp;Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#dataTable').dataTable();
        });
    </script>
}