@page
@using Data
@using SaucyCapstone.Static
@model SaucyCapstone.Pages.Judge.Ratings.IndexModel

@{
    ViewData["Title"] = "Index";
    int ratingsIndex = 0;
    string collapseId = "";
    string userId = User.UserId();
    string age;
}

<form method="post" asp-action="OnPostAsync" enctype="multipart/form-data">
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2>Ratings Overview</h2>
            </div>
            <div class="col-6 text-end">
                <button type="submit" class="btn btn-success"><i class="bi bi-check2-circle"></i>&nbsp;Save Ratings</button>
                <button asp-route-summary="Summary" type="submit" class="btn btn-primary">Go to Summary</button>
            </div>
        </div>
        <hr />

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Student Name
                    </th>
                    @foreach (var item in Model.RatingVM.Criteria)
                    {
                        <th>
                            @Html.DisplayFor(modelItem => item.Description)
                        </th>
                    }
                    <th>@*place holder for button column*@</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.RatingVM.Students)
                {
                    collapseId = "collapse" + student.StudentId.ToString();
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => student.FirstName) @Html.DisplayFor(modelItem => student.LastName)

                        </td>
                        @foreach (var rating in student.Ratings.Where(x => x.UserId == userId) ?? new List<Rating>())
                        {
                            <td>
                                <div class="slidecontainer">
                                    <input name="Ratings[@ratingsIndex].Value" type="range" min="1" max="5" value="@rating.Value" class="slider" id="@rating.StudentID @rating.CriterionId" oninput="updateSlider(this)">
                                    <input name="Ratings[@ratingsIndex].CriterionId" value="@rating.CriterionId" hidden />
                                    <input name="Ratings[@ratingsIndex].StudentId" value="@student.StudentId" hidden />
                                    <input name="Ratings[@ratingsIndex].RatingId" value="@rating.RatingId" hidden />
                                    <input name="Ratings[@ratingsIndex].UserId" value="@User.UserId()" hidden />
                                    <p><span id="slider @rating.StudentID @rating.CriterionId">@rating.Value</span></p>
                                </div>
                            </td>
                            ratingsIndex++;
                        }
                        @if (student.Ratings.Where(x => x.UserId == userId).Count() == 0)
                        {
                            @foreach (var criteria in Model.RatingVM.Criteria)
                            {
                                <td>

                                    <div class="slidecontainer">
                                        @if (criteria.Description == "Age")
                                        {
                                            var temp = DateTime.Now.Subtract(student.DateOfBirth).TotalDays;
                                            temp = temp / 365;
                                            age = temp.ToString();
                                            @switch (age)
                                            {
                                                case "13":
                                                    {
                                                        <input name="Ratings[@ratingsIndex].Value" type="range" min="1" max="5" value="5" class="slider" id="@student.StudentId @criteria.CriterionId" oninput="updateSlider(this)" onload="updateSlider(this)"/>
                                                        <p><span id="slider @student.StudentId @criteria.CriterionId">5</span></p>
                                                        break;
                                                    }
                                                case "14":
                                                    { }
                                                    {
                                                        <input name="Ratings[@ratingsIndex].Value" type="range" min="1" max="5" value="4" class="slider" id="@student.StudentId @criteria.CriterionId" oninput="updateSlider(this)"/>
                                                        <p><span id="slider @student.StudentId @criteria.CriterionId">4</span></p>
                                                        break;
                                                    }
                                                case "15":
                                                    { }
                                                    {
                                                        <input name="Ratings[@ratingsIndex].Value" type="range" min="1" max="5" value="3" class="slider" id="@student.StudentId @criteria.CriterionId" oninput="updateSlider(this)"/>
                                                        <p><span id="slider @student.StudentId @criteria.CriterionId">3</span></p>
                                                        break;
                                                    }
                                                case "16":
                                                    { }
                                                    {
                                                        <input name="Ratings[@ratingsIndex].Value" type="range" min="1" max="5" value="2" class="slider" id="@student.StudentId @criteria.CriterionId" oninput="updateSlider(this)"/>
                                                        <p><span id="slider @student.StudentId @criteria.CriterionId">2</span></p>
                                                        break;
                                                    }
                                                default:
                                                    { }
                                                    {
                                                        <input name="Ratings[@ratingsIndex].Value" type="range" min="1" max="5" value="1" class="slider" id="@student.StudentId @criteria.CriterionId" oninput="updateSlider(this)"/>
                                                        <p><span id="slider @student.StudentId @criteria.CriterionId">1</span></p>
                                                        break;
                                                    }
                                            }
                                            <input name="Ratings[@ratingsIndex].CriterionId" value="@criteria.CriterionId" hidden />
                                            <input name="Ratings[@ratingsIndex].StudentId" value="@student.StudentId" hidden />
                                            <input name="Ratings[@ratingsIndex].UserId" value="@User.UserId()" hidden />

                                        }
                                        else
                                        {
                                            <input name="Ratings[@ratingsIndex].Value" type="range" min="1" max="5" value="" class="slider" id="@student.StudentId @criteria.CriterionId" oninput="updateSlider(this)">
                                            <input name="Ratings[@ratingsIndex].CriterionId" value="@criteria.CriterionId" hidden />
                                            <input name="Ratings[@ratingsIndex].StudentId" value="@student.StudentId" hidden />
                                            <input name="Ratings[@ratingsIndex].UserId" value="@User.UserId()" hidden />
                                            <p><span id="slider @student.StudentId @criteria.CriterionId">--</span></p>
                                        }
                                    </div>
                                </td>
                                ratingsIndex++;
                            }
                        }
                        <td>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                                View Application
                            </button>
                        </td>
                    </tr>
                    <tr class="collapse" id="@collapseId">
                        <td colspan="12" class="p-4">
                            @await Html.PartialAsync("_ApplicationPartialView", @student)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#dataTable').dataTable();
        });
    </script>
}