@page
@using Data
@model SaucyCapstone.Pages.Judge.Ratings.RatingSummaryModel
@{
    List<Criterion> temp = new List<Criterion>();
    decimal weightedValue = 0;
    decimal totalValue = 0;
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Ratings Summary</h2>
        </div>
    </div>
    <br />
    <div class="row pb-2">
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Add Student(s)</button>
            <a asp-page="./Index" class="btn btn-primary">
                Go to Overiew
            </a>
        </div>
    </div>

    <table id="dataTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Select</th>
                <th>
                    @Html.DisplayNameFor(model => model.RatingVM.Students[0].FirstName)
                </th>
                @foreach (var item in Model.RatingVM.Criteria)
                {
                    <th>
                        @Html.DisplayFor(modelItem => item.Description)
                    </th>
                }
                <th>Total Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.RatingVM.Students)
            {
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => student.FirstName) @Html.DisplayFor(modelItem => student.LastName)
                    </td>
                    @foreach (var rating in student.Ratings ?? new List<Rating>())
                    {
                        temp = Model.RatingVM.Criteria.Where(x => x.CriterionId == rating.CriterionId).ToList();
                        weightedValue = (temp[0].Weight * @rating.Value);
                        <td>
                            @weightedValue
                        </td>
                        totalValue += weightedValue;
                    }
                    <td>
                        @totalValue
                    </td>
                </tr>
                totalValue = 0;
            }
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#dataTable').dataTable();
        });
    </script>
}