@page
@model SaucyCapstone.Pages.Sessions.Assessments.CreateModel

<form method="post">
    <input type="hidden" asp-for="AssessmentVM.AssessmentId" />

    <div class="card">
        <h4 class="card-header">Create Assignment</h4>
        <div class="card-body rounded pb-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Assignment Title
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <input id="title" asp-for="AssessmentVM.Assessment.Title" type="text" class="form-control" />
                        <span asp-validation-for="AssessmentVM.Assessment.Title" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Description
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <input id="description" asp-for="AssessmentVM.Assessment.Description" type="text" class="form-control" />
                        <span asp-validation-for="AssessmentVM.Assessment.Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Subject
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <select asp-for="@Model.AssessmentVM.Course.Subject.SubjectName" asp-items="@Model.AssessmentVM.SubjectList" class="form-select">
                            <option disabled selected>---Select Subject---</option>
                        </select>
                        <span asp-validation-for="@Model.AssessmentVM.Course.Subject.SubjectId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Course Level
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <select asp-for="@Model.AssessmentVM.Course.CourseLevel" class="form-select">
                            <option disabled selected>---Select Course Level---</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <span asp-validation-for="@Model.AssessmentVM.CourseId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Max Score
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <input id="studentFirst" asp-for="AssessmentVM.Assessment.MaxScore" type="text" class="form-control" />
                        <span asp-validation-for="AssessmentVM.Assessment.MaxScore" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-success" style="width:100%">Create</button>
                </div>
                <div class="col-6">
                    <a asp-page="Index" class="btn btn-primary" style="width:100%">
                        Back to Assignment Overview
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }