@page
@model SaucyCapstone.Pages.Instructor.Students.Add.addDocumentsModel

<h1>New Document</h1>
<hr />

<form method="post" enctype="multipart/form-data">
	<input asp-for="StudentDocs.StudentDocId" hidden />
	<input asp-for="StudentDocs.Student" hidden />
	<input asp-for="StudentDocs.AccessType" hidden />
	<div class="container">
		<div class="card">
			<div class="card-body">
				<div class="col-12 col-lg-6 pb-4">
					<div class="row my-1">
						<div class="col-3">Topic</div>
						<div class="col-9">
							<input asp-for="@Model.StudentDocs.Name" type="text" class="form-control" />
							<span asp-validation-for="@Model.StudentDocs.Name" class="text-danger"></span>
						</div>
					</div>
					<div class="row my-1">
						<div class="col-3">Content</div>
						<div class="col-9">
							<textarea asp-for="@Model.StudentDocs.Description" class="form-control"></textarea>
							<span asp-validation-for="@Model.StudentDocs.Description" class="text-danger"></span>
						</div>
					</div>
					<div class="row my-1">
						<div class="col-3">Role Type</div>
						<div class="col-9">
							<select asp-for="@Model.SelectedRole" asp-items="@Model.RolesOfUser" class="form-select">
								<option disabled selected>---Select Role---</option>
								<span asp-validation-for="@Model.RolesOfUser" class="text-danger"></span>
							</select>
						</div>
					</div>
					<div class="row my-1">
						<div class="col-3">Upload File</div>
						<div class="col-9">
							<input asp-for="@Model.StudentDocs.Path" type="file" id="uploadBox" name="file" class="form-control" />
							<span asp-validation-for="@Model.StudentDocs.Path" class="text-danger"></span>
						</div>
					</div>
				</div>
				<button asp-route-id="@Model.StudentId" type="submit" class="btn btn-success">Create</button>
				<a class="btn btn-primary" asp-route-id="@Model.StudentId" asp-page="/Instructor/Students/StudentDocuments">Cancel</a>
			</div>
		</div>
	</div>
</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}