@page
@model SaucyCapstone.Pages.Instructor.Sessions.ArchiveModel
@{
}

<form method="post" enctype="multipart/form-data">
    <div class="card">
        <h4 class="card-header">Delete Session</h4>
        <div class="card-body rounded pb-2">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Session.SessionId" />

            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Course
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <select id="name" asp-for="Session.Course.CourseId" asp-items="@Model.CourseList" class="form-select" disabled>
                            <option disabled>---Select Course---</option>
                        </select>
                        <span asp-validation-for="Session.Course.CourseId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Term
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <select asp-for="Session.Course.Term.TermId" asp-items="@Model.TermList" class="form-select" disabled>
                            <option disabled>---Select Term---</option>
                        </select>
                        <span asp-validation-for="Session.Course.Term.TermId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Day of Week
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <select id="datepicker" asp-for="Session.DayofWeek" asp-items="@Model.DayOfWeekList" class="form-select" disabled>
                            <option selected disabled>---Select Day---</option>
                        </select>
                        <span asp-validation-for="Session.Course.CourseId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Start Time
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <input id="starttimepicker" value="@Model.Session.StartTime.ToShortTimeString()" asp-for="Session.StartTime" type="text" class="form-control" disabled />
                        <span asp-validation-for="Session.StartTime" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    End Time
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <input id="endtimepicker" value="@Model.Session.EndTime.ToShortTimeString()" asp-for="Session.EndTime" type="text" class="form-control" disabled />
                        <span asp-validation-for="Session.EndTime" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6">
                        <a asp-page="Index" class="btn btn-primary" style="width:100%">
                            Back to Session Overview
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>