@page
@model SaucyCapstone.Pages.Instructor.Sessions.EnrollmentsModel
@{
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-9">
            <h2>Enrollments for @Model.SessionVM.Session.Course.Subject.SubjectName @Model.SessionVM.Session.Course.CourseLevel</h2>
            <h5>
                @Model.SessionVM.Session.DayofWeek, @Model.SessionVM.Session.StartTime.ToShortTimeString() - @Model.SessionVM.Session.EndTime.ToShortTimeString()
            </h5>
        </div>
        <div class="col-3 text-end">
            <a class="btn btn-primary" asp-page="Index" id="CreateBtn">Back to Session</a>
        </div>
        <hr />

        <form method="post">
            <h3 class="pt-2">Enrolled Students</h3>
            <table id="dataTable" class="table table-bordered table-striped" style="width:100%;">
                <thead>
                    <tr>
                        <th scope="col">Student Name</th>
                        <th scope="col">Student Options</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.SessionVM.SessionEnrollments != null){
                        @foreach (var student in Model.SessionVM.SessionEnrollments) //all students enrolled in this session
                        {
                            <tr>
                                <td width="25%">
                                    @Html.DisplayFor(modelItem => @student.Student.FirstName) @Html.DisplayFor(modelItem => @student.Student.LastName)
                                </td>
                                <td>
                                    <div class="btn-group" role="group" style="justify-content:end;">
                                        <a class="btn btn-info mx-2" asp-page="../Students/StudentDetails" asp-route-id="@student.Student.StudentId"><i class="bi bi-clipboard2-fill"></i>&nbsp;Student Details</a>
                                        <button class="btn btn-danger mx-2" asp-page-handler="Remove" asp-route-id="@student.EnrollmentId"><i class="bi bi-x-square-fill"></i>&nbsp;Remove</button>
                                        <button class="btn btn-success mx-2" asp-page-handler="Pass" asp-route-id="@student.EnrollmentId"><i class="bi bi-x-square-fill"></i>&nbsp;Pass</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <h3 class="pt-4">Eligible Students</h3>
            <input type="hidden" asp-for="SessionVM.Session.SessionId" />

            <table id="dataTable2" class="table table-bordered table-striped" style="width:100%;">
                <thead>
                    <tr>
                        <th scope="col">Student Name</th>
                        <th scope="col">Student Options</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.SessionVM.EligibleStudents != null)
                    {                 
                        @foreach (var student in Model.SessionVM.EligibleStudents)
                        {
                            if (Model.isEnrolled(Model.SessionVM.Session.SessionId, student.StudentId) != true)//only show students not enrolled already
                            {
                                <tr>
                                    <td width="25%">
                                        @Html.DisplayFor(modelItem => student.FirstName) @Html.DisplayFor(modelItem => student.LastName)
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group" style="justify-content:end;">
                                            <a class="btn btn-info mx-2" asp-page="../Students/StudentDetails" asp-route-id="@student.StudentId"><i class="bi bi-clipboard2-fill"></i>&nbsp;Student Details</a>
                                            <button type="submit" class="btn btn-warning mx-2" asp-page-handler="Enroll" asp-route-id="@student.StudentId"><i class="bi bi-clipboard-data-fill"></i>&nbsp;Enroll</button>

                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#dataTable').dataTable();
            $('#dataTable2').dataTable();
        });
    </script>
        }