@page
@using Data
@model SaucyCapstone.Pages.Instructor.Sessions.GradesModel
@{
	var index = 0;
	decimal maxPoints = (decimal)0.00;
	decimal? studentPoints = (decimal)0.00;;
	AssessmentStudent? assessment;
}


<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2>Grades for @Model.AssessmentStudents.SubjectName @Model.AssessmentStudents.CourseLevel</h2>
			<h5>
				@Model.AssessmentStudents.DayOfWeek, @Model.AssessmentStudents.StartTime.ToShortTimeString() - @Model.AssessmentStudents.EndTime.ToShortTimeString()
			</h5>
		</div>
	</div>
	<hr />
	<form method="post">
		<table id="dataTable" class="table table-bordered table-striped" style="width:100%">
			<thead>
				<th>
					Student
				</th>
				@foreach (var AssessmentStudent in Model.AssessmentStudents.Assessments)
				{
					<th class="col text-center" width="20%">
						@AssessmentStudent.Title
						<br>
						Max Points @AssessmentStudent.MaxScore						
					</th>
					maxPoints = maxPoints + @AssessmentStudent.MaxScore;	
				}
				<th>
					Final Grade
				</th>
			</thead>
			<tbody>
				@if (Model.AssessmentStudents != null)
				{
					@foreach (var Student in Model.AssessmentStudents.Students)
					{
						<tr>
							<td width="20%">
								<a class="m-2" asp-page="../Students/Add/addNotes" asp-route-studentId="@Student.StudentId"><img src="@Student.StudentImage" width="30%" style="border-radius:5px; border:1px solid #bbb9b9" /></a>
								@(@Student.FirstName + " " + @Student.LastName)
							</td>
							@if (Model.AssessmentStudents.Students != null)
							{
								@foreach (var AssessmentStudent in Student.AssessmentStudents)
								{
									<td class="col text-center">
										<input asp-for="GradeEditModel[index].Score" value="@AssessmentStudent.Score"/> 
										<input asp-for="GradeEditModel[index].EnrollmentId" value="@AssessmentStudent.EnrollmentId" hidden>
										<input asp-for="GradeEditModel[index].AssessmentId" value="@AssessmentStudent.AssessmentId" hidden>
										<input asp-for="GradeEditModel[index].AssessmentStudentId" value="@AssessmentStudent.AssessmentStudentId" hidden>
										<input asp-for="@Model.SessionId" value="@Model.AssessmentStudents.SessionId" hidden>
									</td>
									index++;
									studentPoints += @AssessmentStudent.Score;
								}

								@foreach (var Uncompleted in Student.UncompletedAssessments)
								{									
									@if (Student.AssessmentStudents is null ? true : !Student.AssessmentStudents.Select(d =>d.AssessmentId).ToList().Contains(Uncompleted.AssessmentId))
										{
											<td class="col text-center">
											<input asp-for="GradeEditModel[index].Score" value="@Uncompleted.Score"/> 
											<input asp-for="GradeEditModel[index].EnrollmentId" value="@Uncompleted.EnrollmentId" hidden>
											<input asp-for="GradeEditModel[index].AssessmentId" value="@Uncompleted.AssessmentId" hidden>
											<input asp-for="GradeEditModel[index].AssessmentStudentId" value="@Uncompleted.AssessmentStudentId" hidden>
											<input asp-for="@Model.SessionId" value="@Model.AssessmentStudents.SessionId" hidden>
										</td>
										index++;
										studentPoints += @Uncompleted.Score;
										}	
									
								}
								<td>
									<p>@studentPoints / @maxPoints</p>
								</td>
							}						
						</tr>
						studentPoints = (decimal)0.00;
					}
				}
			</tbody>
		</table>
		<button type="submit" class="btn btn-success">Save</button>
		<a class="btn btn-primary" asp-page="Index">Go Back</a>
	</form>
</div>




@section Scripts{
	<script>
		$(document).ready(function() {
			$('#dataTable').dataTable();
		});
	</script>s
    }









