@page
@model SaucyCapstone.Pages.Instructor.Sessions.IndexModel
@using Microsoft.AspNetCore.Http;

@{
    var subjectCourse = "";
    var sessionCourse = HttpContext.Session.GetInt32("Course");
    var sessionSubject = HttpContext.Session.GetString("Subject");
    var sessionSubjectCourse = sessionSubject + " " + sessionCourse;
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 localize-content>Session Overview</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Upsert" id="CreateBtn" class="btn btn-success">
                <i class="bi bi-plus-circle">&nbsp;</i><localize>New Session</localize>
            </a>
        </div>
        <div class="pt-2">
            <ul class="list-group list-group-horizontal-sm">
                @foreach (var course in Model.CourseList)
                {
                    subjectCourse = @course.Subject.SubjectName + " " + @course.CourseLevel.ToString();
                    <a id="@subjectCourse" asp-page="/Instructor/Sessions/Index" asp-route-subject="@course.Subject.SubjectName" asp-route-courselvl="@course.CourseLevel">
                    <li class="custom btn @(sessionSubject is not null && subjectCourse == sessionSubjectCourse ? "btn-primary": "btn-outline-primary bg-white")">@subjectCourse</li>
                    </a>
                }
                <a style="text-decoration:none" asp-page="/Instructor/Sessions/Index" asp-route-subject="All">
                <li class="custom btn @(sessionCourse is null ? "btn-primary": "btn-outline-primary bg-white")">All</li>
                </a>
            </ul>
        </div>
    </div>
    <hr />
    <table id="dataTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th localize-content>Course Name</th>
                <th localize-content>Day of Week</th>
                <th localize-content>Time</th>
                <th localize-content>Term</th>
                <th localize-content>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var session in Model.Sessions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => session.Course.Subject.SubjectName) @Html.DisplayFor(modelItem => session.Course.CourseLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => session.DayofWeek)
                    </td>
                    <td>
                        @session.StartTime.ToShortTimeString() - @session.EndTime.ToShortTimeString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => session.Course.Term.TermName)
                    </td>
                    <td>
                        <div class="btn-group" role="group" style="justify-content:end">
                            <a class="btn btn-primary mx-2" asp-page="./Upsert" asp-route-id="@session.SessionId"><i class="bi bi-pencil-square">&nbsp;</i><localize>Edit</localize></a>
                            <a class="btn btn-warning mx-2" asp-page="./Enrollments" asp-route-id="@session.SessionId"><i class="bi bi-people-fill">&nbsp;</i><localize>Enrollments</localize></a>
                            <a class="btn btn-info mx-2" asp-page="./Grades" asp-route-id="@session.SessionId"><i class="bi bi-file-earmark-text-fill">&nbsp;</i><localize>Assessments</localize></a>
                            <a class="btn btn-secondary mx-2" asp-page="./Attendance" asp-route-id="@session.SessionId"><i class="bi bi-calendar-check-fill">&nbsp;</i><localize>Attendance</localize></a>
                            <a class="btn btn-danger mx-2" asp-page="./Archive" asp-route-id="@session.SessionId"><i class="bi bi-trash-fill">&nbsp;</i><localize>Delete</localize></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#dataTable').dataTable();
        });
    </script>
}
