@page
@model SaucyCapstone.Pages.Instructor.Sessions.UpsertModel
@{
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="card">
        <h4 class="card-header">@(Model.Session.SessionId != 0 ? "Update" : "Create") Session</h4>
        <div class="card-body rounded pb-2">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Session.SessionId" />

            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Course
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <select id="name" asp-for="Session.Course.CourseId" asp-items="@Model.CourseList" class="form-select">
                            <option selected disabled>---Select Course---</option>
                        </select>
                        <span asp-validation-for="Session.Course.CourseId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Term
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <select asp-for="Session.Course.Term.TermId" asp-items="@Model.TermList" class="form-select">
                            <option selected disabled>---Select Term---</option>
                        </select>
                        <span asp-validation-for="Session.Course.Term.TermId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Day of Week
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <select id="datepicker" asp-for="Session.DayofWeek" asp-items="@Model.DayOfWeekList" class="form-select">
                            <option selected disabled>---Select Day---</option>
                        </select>
                        <span asp-validation-for="Session.Course.CourseId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Start Time
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <input id="starttimepicker" value="@Model.Session.StartTime.ToShortTimeString()" asp-for="Session.StartTime" type="text" class="form-control" />
                        <span asp-validation-for="Session.StartTime" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    End Time
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <input id="endtimepicker" value="@Model.Session.EndTime.ToShortTimeString()" asp-for="Session.EndTime" type="text" class="form-control" />
                        <span asp-validation-for="Session.EndTime" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6">
                        @if (Model.Session.SessionId != 0)
                        {
                            <button type="submit" class="btn btn-success form-control" onclick="return validateInput()">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success form-control" onclick="return validateInput()">Create</button>
                        }
                    </div>
                    <div class="col-6">
                        <a asp-page="Index" class="btn btn-primary" style="width:100%">
                            Back to Session Overview
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <script type="text/javascript">
        $(function() {
            $("#datepicker").datepicker({ minDate: 1, maxDate: "+1M" });
            $("#starttimepicker").timepicker({ 'minTime': '10:00 AM', 'maxTime': '9:00 PM', step: '30' });
            $("#endtimepicker").timepicker({ 'minTime': '10:00 AM', 'maxTime': '9:00 PM', step: '30' });
        });

        function validateInput() {
            var starttime = document.getElementById("starttimepicker").value;
            var endtime = document.getElementById("endtimepicker").value;
            var dt = document.getElementById("datepicker").value;
            var name = document.getElementById("name").value;

            if (name == '') {
                swal("Enter all fields");
                return false;
            }
            if (dt.toString() == '') {
                swal("Error", "Please select Event Date", "error");
                return false;
            }
            if (starttime.toString() == '') {
                swal("Error", "Please select Start Time", "error");
                return false;
            }
            if (name.toString() == '') {
                swal("Error", "Please enter a Name", "error");
                return false;
            }
            if (endtime.toString() == '') {
                swal("Error", "Please enter an end time", "error");
                return false;
            }
            return true;
        }
    </script>
}
