@page
@model SaucyCapstone.Pages.Sessions.EnrollmentsModel
@{
}
<div>
    @foreach (var student in Model.session.Students)
    {
        <p>@student.FirstName @student.LastName</p>
    }
</div>
<h2>@Model.session.SubjectName @Model.session.SubjectName</h2>
<h5>
    Day: @Model.session.DayofWeek <br />
    Time: @Model.session.StartTime - @Model.session.EndTime
</h5>
<form>

    <table id="dataTable" class="table table-bordered table-striped" style="width:100%;">
        <thead>
            <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Student Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.session.Students)
            {
                <tr>
                    <td width="25%">
                        @Html.DisplayFor(modelItem => student.FirstName) @Html.DisplayFor(modelItem => student.LastName)
                    </td>
                    <td>
                        <div class="btn-group" role="group" style="justify-content:end;">
                            <a class="btn btn-primary mx-2" asp-page="../Students/StudentDetails" asp-route-id="@student.StudentId"><i class="bi bi-clipboard2-fill"></i>&nbsp;Student Details</a>
                            <a class="btn btn-info mx-2" asp-page="" asp-route-id=""><i class="bi bi-clipboard-data-fill"></i>&nbsp;Assessment</a>
                            <a class="btn btn-success mx-2" asp-page="" asp-route-id=""><i class="bi bi-arrow-left-right"></i>&nbsp; Transfer Sessions</a>
                            <a class="btn btn-danger mx-2" asp-page="" asp-route-id=""><i class="bi bi-x-square-fill"></i>&nbsp;Remove</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#dataTable').dataTable();
        });
    </script>
}