@page
@model SaucyCapstone.Pages.Sessions.IndexModel
@{
}
<h2>Sessions</h2>
<p>
	<a asp-page="./Upsert" id="CreateBtn">Create New</a>
</p>
<p> <a asp-page="./ViewArchived" id="CreateBtn">View Archived Sessions</a></p>


@if (Model.Sessions == null)
{
	<div> No Available Sessions</div>
}
@if (Model.Sessions != null)
{

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Course Name
				</th>
				<th>
					Day of Week
				</th>
				<th>
					Time
				</th>
				<th>
					Term
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var session in Model.Sessions.Where(c => c.IsActive == true))
			{
				<tr>
					<td width="25%">
						@Html.DisplayFor(modelItem => session.Course.Subject.SubjectName)
					</td>
					<td width="15%">
						@Html.DisplayFor(modelItem => session.DayofWeek)
					</td>
					<td width="15%">
						 @session.StartTime.ToShortTimeString() - @session.EndTime.ToShortTimeString()
					</td>
					<td width="15%">
						@Html.DisplayFor(modelItem => session.Course.Term.TermName)
					</td>
					<td>
						<div class="w-25 btn-group" role="group" style="margin-left: 2rem;">
							<a class="btn btn-success" asp-page="./Enrollments" asp-route-id="@session.SessionId"><i class="bi bi-people-fill"></i>Enrollments</a>&nbsp;
							<a class="btn btn-success" asp-page="./Upsert" asp-route-id="@session.SessionId"><i class="bi bi-pen-fill"></i>&nbsp;Edit&nbsp;</a> &nbsp;
						</div>
						<div class="w-25 btn-group" role="group" style="float: right;">
							<a class="btn btn-danger" asp-page="./Archive" asp-route-id="@session.SessionId" style="float:right"><i class="bi bi-archive-fill"></i>Archive</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

