@*@page
@model SaucyCapstone.Pages.Sessions.ViewArchivedModel
@{
}
<h2>Archived Sessions</h2>
<p>
    <a asp-page="Index" id="CreateBtn">Go Back</a>
   
</p>
@if(Model.Sessions == null)
{
    <div> No Available Sessions</div>
}
@if(Model.Sessions != null)
{
    @foreach (var session in Model.Sessions.Where(c => c.IsActive == false))
    {
         <div class="d-inline-flex p-2 bd-highlight">
        <div class="card-border bg-info text-white" style="width: 18rem;">
            <div class="card-header">
                <h5 class="text-center mb-0">@Html.DisplayFor(modelItem => session.Course.Subject) - @Html.DisplayFor(modelItem => session.Course.CourseName)</h5>
            </div>
            <div class="card-body text-white">
                 <p class="text-center"><b>Days: </b>@session.DayofWeek</p>
                        
                <p class="text-center"><b>Time:</b> @Html.DisplayFor(modelItem => session.StartTime) - @Html.DisplayFor(modelItem => session.EndTime)</p>



                <p class="text-center"><b>Term:</b> @Html.DisplayFor(modelItem => session.Course.Term.TermName)</p>

                <div class="d-flex justify-content-around">
                     <p>
                                <a class="btn btn-success" asp-page="./Archive" asp-route-id="@session.SessionId">Activate</a>
                            </p>
                
            </div>
        </div>
    </div>
</div>
    }

}

   

*@