@page
@model SaucyCapstone.Pages.Admin.Schools.IndexModel

@{
    ViewData["Title"] = "Schools";
}

<h1>Schools</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.School[0].SchoolName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.School) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SchoolId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SchoolId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SchoolId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
