@page
@using SaucyCapstone.Pages.Admin.UserManagement
@model SaucyCapstone.Pages.Admin.UserManagement.IndexModel
@{

}
<h1>Users</h1>

<p>
    <a asp-page="Create">Add New User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Email
            </th>
            <th>
                Lock
            </th>
            <th>
                Password Reset
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UsersVM ?? new List<UserVM>())
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Email
                </td>

                <form method="post">
                    @{
                        if (item.LockoutEnd > DateTime.Now)
                        {
                            <td>
                                <button type="submit" class="btn btn-outline-warning" asp-page-handler="LockUnlock"
                        asp-route-id="@item.Id">
                                    <i class="bi bi-unlock"></i> Unlock
                                </button>
                            </td>
                        }
                        else
                        {
                            <td>
                                <button type="submit" class="btn btn-outline-warning" asp-page-handler="LockUnlock"
                        asp-route-id="@item.Id">
                                    <i class="bi bi-lock"></i> Lock
                                </button>
                            </td>
                        }
                    }
                    <td>
                        <button type="submit" class="btn d-inline btn-outline-warning" asp-page-handler="PasswordResetEmail"
                        asp-route-id="@item.Id">
                            <i class="bi bi-envelope"></i>
                        </button>
                        <a class="btn d-inline btn-outline-warning" asp-page="Changepassword"
                        asp-route-id="@item.Id">
                            <i class="bi bi-input-cursor-text"></i>
                        </a>
                    </td>
                </form>

            </tr>
        }
    </tbody>
</table>