@page
@using SaucyCapstone.Pages.Admin.UserManagement
@model SaucyCapstone.Pages.Admin.UserManagement.IndexModel
@{

}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h4 localize-content>Manage Users</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Create" class="btn btn-success">
                <i class="bi bi-plus-circle">&nbsp;</i><localize>New User</localize>
            </a>
        </div>
    </div>
    <hr />


    <table id="dataTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th localize-content>
                    User Name
                </th>
                <th localize-content>
                    Email
                </th>
                <th localize-content>
                    Lock
                </th>
                <th localize-content>
                    Password Reset
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UsersVM ?? new List<UserVM>())
            {
                <tr>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.Email
                    </td>

                    <form method="post">
                        @{
                            if (item.LockoutEnd > DateTime.Now)
                            {
                            <td>
                                <button type="submit" class="btn btn-outline-warning" asp-page-handler="LockUnlock"
                            asp-route-id="@item.Id">
                                    <i class="bi bi-unlock">&nbsp;</i><localize>Unlock</localize>
                                </button>
                            </td>
                            }
                            else
                            {
                            <td>
                                <button type="submit" class="btn btn-warning" asp-page-handler="LockUnlock"
                                    asp-route-id="@item.Id">
                                    <i class="bi bi-lock-fill">&nbsp;</i><localize>Lock</localize>
                                </button>
                            </td>
                            }
                        }
                    <td>
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-info mx-2" asp-page-handler="PasswordResetEmail"
                                asp-route-id="@item.Id">
                                <i class="bi bi-envelope-fill"></i> Reset Password
                            </button>
                            <a class="btn btn-primary mx-2" asp-page="Changepassword"
                                asp-route-id="@item.Id">
                                <i class="bi bi-input-cursor-text">&nbsp;</i><localize>Change Password</localize> 
                            </a>
                        </div>
                    </td>
                    </form>

                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#dataTable').dataTable();
        });
    </script>
    }