@page
@model SaucyCapstone.Pages.Instructor.Assessments.IndexModel
@using Microsoft.AspNetCore.Http;

@{
    var subjectCourse = "";
    var sessionCourse = HttpContext.Session.GetInt32("Course");
    var sessionSubject = HttpContext.Session.GetString("Subject");
    var sessionSubjectCourse = sessionSubject + " " + sessionCourse;
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 localize-content>Assignment Overview</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Create" class="btn btn-success">
                <i class="bi bi-plus-circle">&nbsp;</i><localize>New Assignment</localize>
            </a>
        </div>

        <div class="pt-2">
            <ul class="list-group list-group-horizontal-sm">
                @foreach (var course in Model.CourseList)
                {
                    subjectCourse = @course.Subject.SubjectName + " " + @course.CourseLevel.ToString();
                    <a id="@subjectCourse" asp-page="/Instructor/Assessments/Index" asp-route-subject="@course.Subject.SubjectName" asp-route-courselvl="@course.CourseLevel">
                    <li class="custom btn @(sessionSubject is not null && subjectCourse == sessionSubjectCourse ? "btn-primary": "btn-outline-primary bg-white")">@subjectCourse</li>
                    </a>
                }
                <a style="text-decoration:none" asp-page="/Instructor/Assessments/Index" asp-route-subject="All">
                <li class="custom btn @(sessionCourse is null ? "btn-primary": "btn-outline-primary bg-white")">All</li>
                </a>
            </ul>
        </div>

    </div>
    <hr />
    <table id="dataTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th localize-content>
                    Title
                </th>
                <th localize-content>
                    Description
                </th>
                <th localize-content>
                    Subject
                </th>
                <th localize-content>
                    Course Level
                </th>
                <th localize-content>
                    Max Score
                </th>
                <th localize-content>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AssessmentList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Subject.SubjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.CourseLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxScore)
                    </td>
                    <td>
                        <div class="btn-group" role="group" style="justify-content:end">
                            <a asp-page="Edit" asp-route-id="@item.AssessmentId"
                           class="btn btn-primary mx-2"> <i class="bi bi-pencil-square">&nbsp;</i><localize>Edit</localize></a>
                            <a asp-page="Delete" asp-route-id="@item.AssessmentId"
                           class="btn btn-danger mx-2"> <i class="bi bi-trash-fill">&nbsp;</i><localize>Delete</localize></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#dataTable').dataTable();
        });
    </script>
}